<div ng-app="LoginForm">
    <md-card class="form-card">
        <!-- <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Login Form</span></h2>
            </div>
        </md-toolbar> -->
        <md-card-header>
            <md-card-title>Login Form</md-card-title>
            <!-- <md-card-subtitle>Complete con sus datos</md-card-subtitle> -->
        </md-card-header>
        <md-card-content>
            <form >
                <md-form-field style="width:100%">
                    <input type="email" mdInput placeholder="Email" [formControl]="emailFC">
                    <md-error *ngIf="emailFC.hasError('pattern')"> Please enter a valid email address </md-error>
                    <md-error *ngIf="emailFC.hasError('required')"> Email is <strong>required</strong> </md-error>
                </md-form-field>
                <md-form-field>
                    <input type="password"mdInput placeholder="Password">
                </md-form-field>
            </form>
        </md-card-content>
    </md-card>
</div>
