<div *ngIf="conectado">
  <div id="referencias" class="col-md-2 col-sm-12">
    <div>
      <p class="text-center"><strong>Referencias</strong></p>
      <ul id="ref-list">
        <li><img src="{{origen.icon}}">Origen</li>
        <li><img src="../../assets/seguimiento/zona.png">Zona Cercana</li>
        <li><img src="{{destino.icon}}">Destino</li>
      </ul>
    </div>
    <button type="button" (click)="delete()" class="btn btn-danger">Frenar Timer</button>
  </div>
  <div class="col-md-10">
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="15"
      [streetViewControl]="false">

      <agm-marker
          [latitude]="origen.lat"
          [longitude]="origen.lng"
          [markerDraggable]="origen.draggable"
          [iconUrl]="origen.icon">
      </agm-marker>
      <agm-marker
          [latitude]="destino.lat"
          [longitude]="destino.lng"
          [markerDraggable]="destino.draggable"
          [iconUrl]="destino.icon">
      </agm-marker>

      <agm-circle [latitude]="destino.lat" [longitude]="destino.lng"
              [radius]="50"
              [fillColor]="'#2cbfcb'"
              [editable]="false">
      </agm-circle>
    </agm-map>
  </div>
</div>
