<div class="main-container" *ngIf="menuPrincipal">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " >
    <h3 class="text-center">PANEL PRINCIPAL</h3>
    <br>
  </div>
  <div class="fondo col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div>
      <p class="bienvenida">
      Bienvenida/o a la Web de Administración de "Ciudad Mujer". <br> Aquí podrás administrar los Usuarios que tienen acceso a esta página y la información contenida en las Secciones Informativas que se encuentran en la Aplicación Móvil "Ciudad Mujer".
      </p>
      <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-10 ">
        <div class="col-md-5 col-md-offset-1">
          <mat-card class="form-card text-center">
            <mat-card-header>
              <div mat-card-avatar class="image-section"></div>
              <mat-card-title><b>Administración de Secciones</b></mat-card-title>
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="change()">Ingresar</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-5">
          <mat-card class="form-card text-center">
            <mat-card-header>
              <div mat-card-avatar class="image-user"></div>
              <mat-card-title><b>Administración de Usuarios</b></mat-card-title>
            </mat-card-header>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="in('user')">Ingresar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container" *ngIf="!menuPrincipal">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " >
    <h3 class="text-center">ADMINISTRACIÓN DE SECCIONES</h3>
    <br>
  </div>
  <div class="fondo col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-10 ">
      <ul class="col-lg-8 col-lg-offset-2 main-list list-group">
        <li>
          <a (click)="in('section')">
            <b>Modificar Secciones</b>
          </a>
        </li>
        <li>
          <a (click)="ordenar()">
            <b>Modificar Orden de Secciones</b>
          </a>
        </li>
        <li>
          <a (click)="vigilar()">
            <b>Editar Imágenes de Slider</b>
          </a>
        </li>
        <li>
          <a (click)="vigilar()">
            <b>Ver Registro de Cambios</b>
          </a>
        </li>
      </ul>
      <div class="col-md-12 text-center">
        <button mat-raised-button color="primary" (click)="change()">Volver</button>
      </div>
    </div>
  </div>
</div>
