<div *ngIf="secciones == null" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="main-container" *ngIf="secciones != null">
        <h3 class="text-center">ORDENANDO SECCIONES</h3>
        <br>
        <div class="col-md-10 col-md-offset-1 ">
          <div class="col-md-6 col-md-offset-3 lista">
            <p>Clickeá y arrastrá cada sección para definir un orden.</p>
            <ul [sortablejs]="seccionesNew" [sortablejsOptions]="{ animation: 150 }" class="orden-list list-group">
              <li *ngFor="let item of seccionesNew; let i = index;" class="list-group-item">{{i+1}}) {{item.tituloBtn}}</li>
            </ul>
          </div>
          <div class="col-md-12 text-center">
              <br>
              <button type="button" (click)="ordenar()" mat-raised-button color="accent">Ordenar</button>
              <button type="button" (click)="atras()" mat-raised-button color="primary">Atrás</button>
              <br>
              <br>
          </div>
          <br>
        </div>
</div>
