<div class="content">
    <mat-toolbar id="main-nav" color="primary">
        <img class="img-footer" src="assets/mumala3.png" routerLink='/home'>
        <span class="mumala-title">Mujeres de la Matria <br>Latinoamericana</span>
        <span class="example-spacer"></span>
        <button class="boton" mat-raised-button color="basic" routerLink='/info'>
            <mat-icon class="icon-log">info</mat-icon>Informate
        </button>
        <button class="boton" *ngIf="!identity" mat-raised-button color="basic" routerLink='/login'>
            <mat-icon class="icon-log">account_circle</mat-icon>Iniciar Sesión
        </button>
        <mat-chip-list *ngIf="identity" class="boton">
          <mat-chip class="chip-name">
            <span routerLink='/main'><b>Hola {{identity.nombre}}! </b></span>
            <!-- <a routerLink='/main' style="text-decoration:none"><span>Hola {{identity.nombre}}! </span></a> -->
          </mat-chip>
          <button title="Cerrar Sesión" mat-icon-button (click)="logOut()"><span class="glyphicon glyphicon-remove-circle close-icon"> </span></button>
        </mat-chip-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <ul id="contactos" class="pull-right">
        <li><b>Contactanos: </b></li>
        <li><a href="https://twitter.com/mumalaneuquen" target="_blank"><img src="assets/footer/tw-mn.png"></a></li>
        <li><a href="https://www.instagram.com/mumalaneuquen/"><img src="assets/footer/ig-mn2.png"></a></li>
        <li><a href="http://mumalaneuquen.blogspot.com.ar/" target="_blank"><img src="assets/footer/bg-mn.png"></a></li>
        <li><a href="https://www.facebook.com/MumalaNeuquenCapital/" target="_blank"><img src="assets/footer/fb-mn.png"></a></li>
    </ul>
</footer>
