<div class="content">
    <mat-toolbar id="main-nav" color="primary">
        <img class="img-footer" src="assets/mumala3.png" routerLink='/home'>
        <span class="example-spacer"></span>
        <button *ngIf="!identity" mat-raised-button color="basic" routerLink='/login'>
            <mat-icon class="icon-log">account_circle</mat-icon>Iniciar Sesión
        </button>
        <div *ngIf="identity">
            <span>Bienvenido {{identity.nombre}}</span>
            <a (click)="logOut()"><mat-icon class="icon-log">close</mat-icon></a>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <ul id="contactos" class="pull-right">
        <li><b>Contactanos: </b></li>
        <li><a href="https://twitter.com/mumalacap" target="_blank"><img src="assets/footer/tw-mn.png"></a></li>
        <li><a href="http://mumalaneuquen.blogspot.com.ar/" target="_blank"><img src="assets/footer/bg-mn.png"></a></li>
        <li><a href="https://www.facebook.com/MumalaNeuquenCapital/" target="_blank"><img src="assets/footer/fb-mn.png"></a></li>
    </ul>
</footer>
