<div class="content">
    <mat-toolbar id="main-nav" color="primary">
        <img class="img-footer" src="assets/mumala3.png" routerLink='/home'>
        <span class="mumala-title">Mujeres de la Matria <br>Latinoamericana</span>
        <span class="example-spacer"></span>
        <button class="boton" mat-raised-button color="basic" routerLink='/info'>
            <mat-icon class="icon-log">info</mat-icon><span class="hidden-sm hidden-xs">Informate</span>
        </button>
        <button class="boton" *ngIf="!identity" mat-raised-button color="basic" routerLink='/login'>
            <mat-icon class="icon-log">account_circle</mat-icon>Iniciar Sesión
        </button>
        <mat-chip-list *ngIf="identity" class="boton">
          <mat-chip class="chip-name">
            <span routerLink='/main'><b>Hola {{identity.nombre}}! </b></span>
            <!-- <a routerLink='/main' style="text-decoration:none"><span>Hola {{identity.nombre}}! </span></a> -->
          </mat-chip>
          <button title="Cerrar Sesión" mat-icon-button (click)="logOut()"><span class="glyphicon glyphicon-remove-circle close-icon"> </span></button>
        </mat-chip-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
