<!-- Modificarse en caso de que sea necesario editar los datos de usuario -->
<div class="text-center main-container">
    <h3 class="">ADMINISTRACIÓN DE USUARIOS</h3>
    <br>
        <div class="fondito col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 ">

            <div class="">
                <p class="textito">En esta sección puede observar una tabla con todos los usuarios que tienen acceso a esta web. <br>Además tendrá la posibilidad de agregar y eliminar usuarios.</p>
            </div>
            <br>
            <div>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      + Crear Usuario
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field>
                    <input matInput placeholder="Nombre" [(ngModel)]="nombre" [formControl]="nombreFC">
                    <mat-error *ngIf="nombreFC.hasError('required')">Campo <strong>necesario</strong></mat-error>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput placeholder="Apellido" [(ngModel)]="apellido" [formControl]="apellidoFC">
                    <mat-error *ngIf="apellidoFC.hasError('required')">Campo <strong>necesario</strong></mat-error>
                  </mat-form-field>

                    <mat-form-field>
                      <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFC">
                      <mat-error *ngIf="emailFC.hasError('pattern')">Ingrese un email valido</mat-error>
                      <mat-error *ngIf="emailFC.hasError('required')">Campo <strong>necesario</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput placeholder="Contraseña" [(ngModel)]="pass" type="password" [formControl]="passFC">
                      <mat-error *ngIf="passFC.hasError('required')">Campo <strong>necesario</strong></mat-error>
                    </mat-form-field>

                    <mat-action-row>
                      <button mat-raised-button color="accent" (click)="crearUsuario()"
                      [disabled]="!nombreFC.valid || !apellidoFC.valid || !emailFC.valid || !passFC.valid">Agregar</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </div>
            <br>
            <br>
            <div>
                <table matSort (matSortChange)="sortData($event)" class="table">
                  <tr class="text-left">
                    <th>#</th>
                    <th mat-sort-header="nombre">Nombre</th>
                    <th mat-sort-header="apellido">Apellido</th>
                    <th mat-sort-header="email">Email</th>
                    <th></th>
                  </tr>

                  <tr *ngFor="let user of sortedData; let i = index" class="text-left">
                    <td>{{i+1}}</td>
                    <td>{{user.nombre}}</td>
                    <td>{{user.apellido}}</td>
                    <td>{{user.email}}</td>
                    <td class="derecha" >
                        <!-- Con la siguiente condición se preserva el usuario Administrador original -->
                        <button *ngIf="user.email!='admin@email.com'" mat-raised-button type="button" name="button" color="warn" (click)="eliminarUsuario(i)">Eliminar</button>
                    </td>
                  </tr>
                </table>
            </div>
            <div class="col-lg-12">
                <button type="button" (click)="atras()" mat-raised-button color="primary">Volver</button>
            </div>
            <br>
            <br>
        </div>
        <div class="col-lg-12">
            <br>
            <br>
        </div>
</div>
