@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '~@angular/material/prebuilt-themes/purple-green.css';
@font-face {
font-family: Candara;
src: url("assets/fuentes/candara.ttf");
}
@font-face {
font-family: Candarab;
src: url("assets/fuentes/candarab.ttf");
}

body, html{
    background-color: #303030 !important;
    font-family: 'Candara' !important;
    color: white !important;
}
h3{
    font-size: 34px !important;
    font-family: 'Candara' !important;
}
#main-nav{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}
.mat-toolbar-row {
    height: 80px !important;
}
.example-spacer {
    flex: 1 1 auto;
}
.icon-log{
    margin-right: 5px;
    cursor: pointer;
}
.img-footer{
    float:right;
    padding: 6px;
    height: 100%;
}
mat-toolbar img{
  cursor: pointer;
}
.chip-name{
  cursor: pointer !important;
  background-color: #424242 !important;
}
.close-icon{
    font-size: 24px;
    font-weight: black;
    line-height: 1;
    color: #d2d2d2;
    text-shadow: 0 1px 0 #222;
}
.mumala-title{
    margin-top: 5px;
    margin-left: 15px;
    font-size: 14px;
    text-align: center;
    font-style: oblique;
    line-height: initial;
}
.boton{
  margin-left: 25px !important;
}

/*-----------------------------------------------------------------------------*/
/*                                    HOME                                     */
/*-----------------------------------------------------------------------------*/
#titulo{
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
}
/*-----------------------------------------------------------------------------*/
/*                                    LOGIN                                    */
/*-----------------------------------------------------------------------------*/
.campoForm{
    width: 100% !important;
}
#subButton{
    margin-top:10px;
}
/*-----------------------------------------------------------------------------*/
/*                                    USERS                                    */
/*-----------------------------------------------------------------------------*/
.derecha{
    text-align: right !important;
}
.textito{
    text-align: center;
    font-size: 18px;
    color: #eee;
}
.fondito{
    background-color: #201f1f;
    padding: 10px;
}
.nota-user{
    text-align: left;
    font-style: oblique;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #f44336;
}
/*-----------------------------------------------------------------------------*/
/*                                      MAIN                                   */
/*-----------------------------------------------------------------------------*/
.bienvenida{
    text-align: center;
    font-size: 18px;
    color: #eee;
    margin-bottom: 50px;
}
.image-section{
    background-image: url('assets/sections/amarillo.png');
    background-color: white;
    background-size: cover;
}
.image-user{
    background-image: url('assets/sections/rojo.png');
    background-color: white;
    background-size: cover;
}
.fondo{
    background-color: #201f1f;
    padding: 40px;
}
.main-list{
  list-style: none;
  text-align: center;
}
.main-list li{
  margin-bottom: 5px;
  background-color: #424242;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
.main-list li a{
  text-decoration: none;
  color: white;
}
.main-list :hover{
  background-color: #303030
}
.main-page mat-card{
  margin-bottom: 10px
}
/*-----------------------------------------------------------------------------*/
/*                                  SECTIONS                                   */
/*-----------------------------------------------------------------------------*/
.spinner{
    margin-left: 45%;
    margin-top: 12%;
}
.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Candara' !important;
    padding: 8px;
    background-color: white;
}
.main-container2{
    position: fixed;
    height: 90%;
    width: 100%;
    overflow: auto;
}

/*Sidenav con scroll*/
mat-sidenav-content{
    margin-left: 110px !important;
}
.example-sidenav-fab-container {
    height: 100%;
    text-align:center;
}
.example-sidenav-fab-container md-sidenav {
    max-height: 100px
}
.mat-sidenav-titulo{
    background: rgba(0,0,0,.32) !important;
    color: hsla(0,0%,100%,.87) !important;
    letter-spacing: 1px !important;
    line-height: 24px !important;
    text-transform: uppercase;
}
.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
    /*display: flex;
    overflow: visible;*/
    margin: 0;
  width: 100%;
  height: 100%;
}
.example-scrolling-content {
    overflow: auto;
    height: 100%;
    width: 100%
}
/******END*******/

.item-seccion{
    padding: 2px;
}
#title-editor{
    color: rgba(255,255,255,.7)
}
.instrucciones{
    margin-top: 20px;
    font-size: 16px;
}
.instrucciones ol li{
    margin-top: 5px;
}
.success-snackbar{
    background-color: #424242 !important;
    color: white !important;
    font-style: oblique;
    text-align: center;
    display: block !important;
    margin:auto !important;
}

.sin-style{
    list-style: none;
    margin-left: -40px;
}
.sin-style ul{
    font-variant: small-caps;
}
.sin-style li{
    margin-left: -20px;
}
.editor-gly{
    margin-top: -5px;
    margin-right: 5px
}
.sub{
    text-decoration: underline;
    margin-left: -20px;
}
.margen{
  margin-top: 10px;
}
.aclaracion{
  cursor: pointer;
}

/*-----------------------------------------------------------------------------*/
/*                                   INFO                                      */
/*-----------------------------------------------------------------------------*/
.card-style{
  margin: 10px;
}
.fondo-info{
    background-color: #947ab8;
    padding: 20px;
    color: black;
}
.texto-info{
    font-size: 17px;
    text-align: justify;
    padding: 25px;
}
mat-card-title{
  font-family: 'Candara' !important;
  font-size: 16px
}
.info .mat-card:not([class*="mat-elevation-z"]){
  background-color: #fbb65d;
  padding: 20px;
  color: black;
}
.info button{
  background-color: #f37143 !important;
  color: black !important;
}

/*-----------------------------------------------------------------------------*/
/*                                   ORDEN                                     */
/*-----------------------------------------------------------------------------*/
.orden-list{
    color: black !important;
    cursor: pointer;
}
.orden-list :hover{
   background-color: gray;
   color: white;
}
.orden{
    min-height: 30px;
}
.lista{
  background-color: #434343;
  padding: 15px;
}
.cruz{
  float: right;
  margin-top: 2px;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------*/
/*                                   SOCIAL                                  */
/*-----------------------------------------------------------------------------*/
.social {
  position: fixed;
  top: 30%;
  right: 0px;
}
.social a{
  color: #fff;
  text-decoration: none !important;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(260px, 0);
  -moz-transform: translate(260px, 0);
  -ms-transform: translate(260px, 0);
  -o-transform: translate(260px, 0);
  transform: translate(260px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: #7b1fa2;
  width: 300px;
  text-align: left;
  padding: 10px;
  -webkit-border-radius: 30px 0px 0px 30px;
  -moz-border-radius: 30px 0px 0px 30px;
  border-radius: 30px 0px 0px 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  font-size: 16px;
}
.social ul li:hover {
  -webkit-transform: translate(-110px, 0);
  -moz-transform: translate(-110px, 0);
  -ms-transform: translate(-110px, 0);
  -o-transform: translate(-110px, 0);
  transform: translate(-110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: #7b1fa2;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  color: #000;
  padding: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  font-size: 20px !important;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  text-align: center;
  margin-right: 10px;
}
