<div *ngIf="secciones == null" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="main-container" *ngIf="secciones != null">
        <div *ngIf="seleccion == -1">
          <h3 class="text-center">SECCION PENDIENTE</h3>
          <br>
          <h2 class="text-center">PROXIMAMENTE!</h2>
        </div>

        <div class="col-md-12 text-center">
            <br>
            <button type="button" (click)="atras()" mat-raised-button color="primary">Atrás</button>
            <br>
            <br>
            <br>
        </div>

</div>
